.profile__name {
  font-size: 42px;
  line-height: 48px;
  font-weight: 500;
  color: white;
  margin: 0 18px 8px 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 294px;
}

@media screen and (max-width: 900px) {
  .profile__name {
    font-size: 27px;
    line-height: 33px;
  }
}

@media screen and (max-width: 769px) {
  .profile__name {
    text-align: center;
    max-width: 189px;
    margin: 0 10px 6px 23px;
  }
}
