.popup__submit-button {
  height: 50px;
  width: 100%;
  padding: 0;
  background: #000;
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.78px;
  border: 0;
  border-radius: 2px;
  margin-top: 28px;
  opacity: 1;
  transition: opacity .1s linear;
  cursor: pointer;
}

.popup__submit-button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 589px) {
  .popup__submit-button {
    font-size: 14px;
    line-height: 16.94px;
    height: 46px;
    margin-top: 23px;
  }
}
