.header {
  max-width: 880px;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
  margin: 0 auto;
  padding-bottom: 41px;
  padding-top: 45px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

@media screen and (max-width: 900px) {
  .header {
    padding-bottom: 31.6px;
    padding-top: 28px;
  }
}
